route:
  receiver: slack-default
  group_by: ["alertname"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h

receivers:
  - name: slack-default
    slack_configs:
      - api_url: __SLACK_WEBHOOK_URL__
        channel: "#alerts"
        username: "fluent-bit-prom"
        send_resolved: true
        title: "[__ENVIRONMENT__] {{ .CommonLabels.alertname }}"
        text: |
          *Summary*: {{ .CommonAnnotations.summary }}
          *Description*: {{ .CommonAnnotations.description }}
          *Severity*: {{ .CommonLabels.severity }}
