global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - alerts.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

scrape_configs:
  - job_name: fluent-bit
    metrics_path: /metrics
    static_configs:
      - targets:
          - host.docker.internal:2021
